<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/about.css" />
    <link rel="icon" href="/static/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="header">
      <h1>Welcome to Our Travel Guide</h1>
    </div>
    <h2>This website was made for our BAP SEE project.</h2>
    <h3>Made by:</h3>
    <ul style="padding: 10px">
      <li>Ayush R</li>
      <li>Kushal U</li>
      <li>Neeraj P Rao</li>
      <li>S Nithin</li>
    </ul>
    <a class="back" href="/tag">Back</a>
  </body>
</html>
